.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}
.btn--center{
  text-align: center;
  color: #f38e82;
  border: 1px solid;
  border-radius: 5rem;
  cursor: unset;
  align-items: center;
  margin: 0 0 -30px 14.5rem;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  background-color: $color-grey-light-1;
  padding: 0.8rem 1.2rem;
}
.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
